$black: #121212
$transparent: rgba(255, 255, 255, 0.975)
$white: #fff
$colored: #007fff

$mp-a: 10px
$mp-b: 20px
$mp-c: 30px
$mp-d: 40px

$phone-ls: 667px
$phone-pt: 500px
$tablet-pt: 768px
$tablet-ls: 1024px

$lh-s: 14px

@mixin fs-s()
  font-size: 14.5px
  line-height: $lh-s

$lh-m: 20px

@mixin fs-m()
  font-size: 19.75px
  line-height: $lh-m

$lh-l: 24px

@mixin fs-l()
  font-size: 24px
  line-height: $lh-l

@mixin left()
  text-align: left

@mixin center()
  text-align: center

@mixin right()
  text-align: right

@mixin nobr()
  white-space: nowrap

@mixin hidden()
  display: none

@mixin transparent()
  opacity: 0
  z-index: -1
  user-select: none
  pointer-events: none

@mixin white()
  color: $white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@mixin black()
  color: $black
  -webkit-font-smoothing: subpixel-antialiased
  -moz-osx-font-smoothing: normal

@mixin italic()
  font-style: italic

@mixin pointer()
  cursor: pointer

@mixin default()
  cursor: default

@mixin noscroll()
  overflow-y: hidden!important






